body{
	background-color:rgb(203,214,203);
	margin:0;
	padding:0;
	text-align:center;
}
.mainContainer{
	width:1100px;
            padding: 20px;
            border-radius: 8px;
            text-align: left;
}
.imageContainer {
            margin-bottom: 30px;
            padding: 10px;
            text-align: center;
        }
.imageContainer img {
            max-width: 100%;
            height: auto;
            display: block;
        }

table {
            width: 100%; 
            border-collapse: collapse;
            margin-top: 30px;
        }

th, td {
            padding: 15px;
            text-align: center;
            vertical-align: top;
            border: 1px solid #ddd;
        }

.text-column {

            text-align: center;
            font-size: 1em;
            line-height: 1.6;
            color: #555;
        }
.image-column img {
            width: 100%;
            height: auto;
            display: block;
            max-height: 250px;
            object-fit: cover;
        }
